<h1>Discussions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Campaigns</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
    <tr>
      <td> <%= link_to discussion.title, discussion %> </td>
      <td> <%= discussion.campaigns.count %></td>
      <td> <%= discussion.comments.count %></td>
    </tr>
    <% end %>
  </tbody> 
</table>